.header__top-bar{
    background: $light-blue;
    height: 20px;
    border: 1px solid #979797;
    margin-bottom: 24px;
}

.header__logo {
    width: 100px;
    height: 100px;
    background-color: #d8d8d8;
    color: #fff;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    margin-bottom: 11px;
    overflow: hidden;
}

.header__logo-img {
    width: 128%;
    margin-right: -25px;
}

.header__navbar {
    text-align: center;
    width: 130px;
    height: 13px;
    margin: 0 auto;
    margin-bottom: 11px;
}

.header__list-item {
    font-size: 11px;
    width: 33%;
    float: left;
}

.header__list-item-link {
    color: #1184db;
}

.header__hero {
    width: 100%;
    background-color: #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.header__hero-img {
    width: 100%;
    padding-top: 42.5%; // when body is 600px wide, element with 42.5% padding top makes element with 255px height
    background: url('https://lh3.ggpht.com/p/AF1QipMko73yhQS_OxR5B-6KAsN5azRZWiijcgyhc5v7=s1536') center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 5px 10px rgba(0,0,0,.5);
}

.header__hero-h1 {
    font-size: 64px;
    color: $dark-grey;
    position: absolute;
    color: #fff;
    text-shadow: 1px 1px rgba(0,0,0,0.25);
}

@media ( max-width: 480px ){
    .header__h1 {
        font-size: 32px;
    }    
}